body{
    background-image: url(../img/login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: sans-serif;
}
.tablas{
    max-width: 70rem;
    overflow-x: auto;
    margin: 0 auto;
}
table{
    background-color: rgba(255, 255, 255, 0.671);
    text-align: center;
    border-collapse: collapse;
    color: white;
}
th,td{
    padding: 10px;
}
thead{
    background-color: #244A55;
    color: white;

}
table input[type="text"]{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
}

tr:nth-child(even){
    background-color: rgba(224, 224, 224, 0.699);
}
form{
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.445);
    margin: 2rem auto;
    padding: 3rem 1rem;
}
form label{
    font-size: 1.3rem;
    text-align: center;
    color: white;
    margin-top: .3rem;
}
form input,select{
    outline: none !important;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.863);
    border-radius: 2rem;
    border: none;
    margin-top: .3rem;
    padding: .3rem 0;
    text-align: center;
}
.campo-form{
    display: flex;
    flex-direction: column;
}
h1,h2{
    text-align: center;
}
.btn{
    padding: .4rem 1rem;
    background-color: #244A55;
    color: white;
}
.btn:hover{
    cursor: pointer;
}
.titulo{
    font-size: 1.7rem;
    color: #333;
}
.btnact,
.btneli{
    color: white;
    border: none;
    padding: .2rem .5rem;
}
.btnact{
    background-color: #0e803d;
    
}
.btneli{
    background-color: #850e0a;
}