.tabla{
    max-height: 50rem;
    min-width: 50rem;
    overflow:auto;
    h1{
        margin-top: 1rem;
    }

    table{
        width: 100%;
        color: $blanco;
        text-align: center;
        background-color: $negroTrans;
        border-collapse: collapse;

        thead{
            background-color: $verde;
            text-transform: uppercase;
        }
        th,td{
            padding: 1.5rem;
            font-weight: bold;
        }
        tr:nth-child(even){
            background-color: $negroTrans;
            color: $blanco;
        }
        
    }
}
.tablaActEli{
    input{
        background-color: transparent;
        border: none;
        color: $blanco;
        max-width: 10rem;
        font-size: 1.8rem;
    }
    .btnactli,
    .btnelili{
        border: none;
        padding: .5rem .3rem;
        &:hover{
            cursor: pointer;
        }
    }
    .btnactli{
        background-color: $lima;
    }
    .btnelili{
        background-color: $berme;
    }
}