<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="icon" href="/img/LOGO-02.ico">
    <link rel="stylesheet" href="/css/stiley-dist.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">
    <title>Sanco</title>
</head>
<body>
    <header class="header headertwo">
        <div class="header__logo">
            <a href="/">
                <div class="logo__header">
                </div>
            </a>
        </div>
        <a href="cerrar">Cerrar Sesion</a>
        </nav>

    </header>
    <section class="container" id="inicio">
        <section class="contenedor4" id="ingreso">
            <div class="saludo">
                <h2>En qué podemos ayudarte <%=uss%> <%=ape%></h2>
            </div>
        </section>
    </section>
    <footer class="footer">
        <div class="derechos">
            <p class="name__footer">© 2021 Sanco. Todos los derechos reservados. Sanco es una marca registrada.</p>
            <p>Usuario <%=rol%></p>
        </div>
    </footer>
</body>
</html>
