<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO-02.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Cliente</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="/">
                <div class="logo__header">
                </div>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/cuentaEmple">Crear Cuentas</a></li>
                <li><a href="/asigCredEmple">Asig Credito</a></li>
                <li><a href="/lineasEmp">Lineas Credito</a></li>
                <li><a href="/datosEmpCli">Reg Cliente</a></li>
                <li><a href="/clientesEmp">Cliente</a></li>
                <li><a href="/creditosEmp">Creditos</a></li>
                <li><a href="cerrar">Salir</a></li>
            </ul>
        </nav>
    </header>
    <main class="container" id="inicio">
            <article class="formulario">
                <h1 style="margin: 0 auto;">Datos</h1>
                <form autocomplete="off" action="/insertCli" method="POST">
                    <input type="text"  name="codigo" placeholder="Cedula" required>
                    <input type="text"  name="nombre" placeholder="Nombre" required>
                    <input type="text" name="apellido" placeholder="Apellido" required>
                    <input type="email" name="correo" placeholder="teem@gmail.com" required>
                    <input type="number" name="celular" placeholder="321123212" required>
                    <input type="text" name="genero" pattern="[MF]" placeholder="Genero" maxlength="1" required>
                    <input type="date" name="fechanaci" required>
                    <input type="submit" class="btn" value="Act">
                </form>    
            </article>
    </main>
    <footer class="footer">
        <div class="derechos">
            <p class="name__footer">© 2021 Sanco. Todos los derechos reservados. Sanco es una marca registrada.</p>
        </div>
        <p>Usuario <%=rol%></p>
    </footer>
</body>
</html>
