<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/LOGO-02.ico">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">
    <title>Sanco</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <a href="">
                <div class="logo__header">
                </div>
            </a>
        </div>
        <nav class="header__nav">
            <a href="#inicio">Inicio</a>
            <a href="#conocenos">Conocenos</a>
            <a href="#Productos">Productos</a>
            <a href="#servicios">Servicios</a>
            <a href="#ingreso">Ingreso</a>
        </nav>

    </header>
    <section class="container" id="inicio">
        <section class="contenedor">
            <div class="contenedor__text">
                <h4>
                    Más que un banco, somos <span>SANCO</span>, su banco. 
                </h4>
            </div>
        </section>
        <section class="contenedor2" id="conocenos">
            <div class="texto__contenedor2">

                <h2>Sanco</h2>
                <p>
                    Un Banco líder en Colombia para el mercado de empresas, personas y el sector social.<br><br>
                    El mejor apoyo para el crecimiento y progreso del Pais.<br><br>
                    Un Banco que cumple con los objetivos de liderazgo en eficiencia, 
                    rentabilidad, utilidad y generación de valor que esperan los accionistas.
                </p>
            </div>
            <div class="imagen__contenedor2">

            </div>
        </section>
        <section class="contenedorr" id="Productos">
            <section class="productos">
                <div class="producto">
                    <div class="creditos">
                        <h5>Crédito Libranza</h5>
                        <p>
                            La empresa descuenta la cuota de la nómina. 
                            Así de fácil, rápido y seguro es llegar a eso que 
                            tanto sueñas
                        </p>
                    </div>
                    <div class="creditos">
                        <h5>Crediágil</h5>
                        <p>
                            Un cupo rotativo para lo que quieras. Ten siempre dinero 
                            para viajar, remodelar la casa, estudiar y realizar compras. 
                        </p>
                    </div>
                    <div class="creditos">
                        <h5>Crédito para moto de bajo cilindraje</h5>
                        <p>
                            ¡Estrena tu moto más rápido de lo que crees! Conoce la financiación 
                            más adecuada para ti 
                        </p>
                    </div>
                    <div class="creditos">
                        <h5>Crédito a la mano</h5>
                        <p>
                            Un crédito que entregamos al instante, simple, seguro e inmediato. 
                            El desembale, un poco de dinero para cubrir un gasto de más.
                        </p>
                    </div>

                </div>
                <div class="producto">
                    <div class="cuentas">
                        <h5>Sanco a la Mano</h5>
                        <p>
                            Una cuenta de ahorros que puedes abrir y manejar desde tu celular 
                        </p>
                    </div>
                    <div class="cuentas">
                        <h5>Cuenta de Nómina</h5>
                        <p>
                            Recibe el pago de la nómina en tu cuenta. Ábrela 
                            desde internet y recibe la tarjeta débito a domicilio
                             sin costo.  
                        </p>
                    </div>
                    <div class="cuentas">
                        <h5>Cuenta Pensión</h5>
                        <p>
                            Recibe el pago de la pensión en tu cuenta, sin salir de casa, cómodo y seguro. 
                        </p>
                    </div>
                </div>
                <div class="product">
                    <div class="productosim">

                    </div>
                </div>
            </section>
        </section>
        <section class="contenedor3" id="servicios">
            <div class="Servicios">
                <a href="../Ayudas/vistapreguntas.html">
                    <div class="cuadro prin">
                        <h4>Preguntas Frecuentes</h4>
                    </div>
                </a>
                <a href="/Ayudas/vistacondinero.html">
                    <div class="cuadro seg">                  
                        <h4>Como manejar tu dinero</h4>
                    </div>
                </a>
                <a href="/Ayudas/vistainver.html">
                    <div class="cuadro ter">
                        <h4>Las mejores inversiones</h4>
                    </div>
                </a>
                <a href="/Ayudas/vistaseguridad.html">
                    <div class="cuadro cua">
                        <h4>Aprende sobre seguridad</h4>
                    </div>
                </a>
            </div>
        </section>
        <section class="contenedor4" id="ingreso">
 
            <div class="form__contenedor4">
                <form  autocomplete="off" action="login" method="post" class="formlogin">
                    <h3>Login</h3>
                    <label for="usuario">User</label>
                    <input type="text" id="usu" name="usu">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                    <input type="submit" name="btn" class="btn" value="Ingresar">
                </form>
            </div>
        </section>
    </section>
    <footer class="footer">
        <div class="derechos">
            <p class="name__footer">© 2021 Sanco. Todos los derechos reservados. Sanco es una marca registrada.</p>
        </div>
    </footer>
</body>
</html>
